<mat-toolbar color="primary">KupujemProdajem.com NLP Powered Search Engine Demo</mat-toolbar>
<mat-progress-bar *ngIf="loader" mode="indeterminate"></mat-progress-bar>
<form class="example-form" autocomplete="off">
  <mat-form-field class="search-field">
    <input matInput placeholder="Search kupujemprodajem.com" [(ngModel)]="query" name="query">
  </mat-form-field>
  <button mat-icon-button aria-label="Example icon-button with a heart icon" (click)="search()">
    <mat-icon>search</mat-icon>
  </button>
</form>
<div class="search-results">
  <cdk-virtual-scroll-viewport itemSize="25" style="height: 80vh;">
    <mat-card class="result-card" *cdkVirtualFor="let result of results" style="height: 150px;">
      <a target="_blank" style="width: 100%;" href="https://kupujemprodajem.com{{result.url}}" style="text-decoration:none">
        <div fxLayout="column">
          <div fxLayout="row">
            <div fxFlex="200px">
              <img src="https://kupujemprodajem.com/{{result.thumbnail}}"
                 onerror="this.src='https://images.kupujemprodajem.com/images/no_photo100.png'"/>
            </div>
            <div fxFlex="300px" style="padding:10px;">
              <p class="ad category">{{result.category}} > {{result.subCategory}}</p>
              <p class="ad name">{{result.name}}</p>
              <p class="ad desc">{{result.description}}</p>
            </div>
            <div fxFlex="100px">
              <p *ngIf="result.price >= 0" class="ad price">{{result.price}} {{result.currency}}</p>
              <p *ngIf="result.price < 0" class="ad price">{{negativePriceToLabel(result.price)}}</p>
            </div>
            <div fxFlex="100px">
              <p class="ad location">{{result.location}}</p>
              <p class="ad posted">{{result.posted | date:'short'}}</p>
            </div>
          </div>
        </div>
      </a>
    </mat-card>
  </cdk-virtual-scroll-viewport>
</div>
