# PyRope cache
.ropeproject/
__pycache__/

#MyPy cache
.mypy_cache/

# Jupyter checkpoints
.ipynb_checkpoints/

# Experiment scripts
exp/

# Data files
*.json
*.csv
*.txt
*.train
*.test

# Dockerignore
.dockerignore

# Model files
*.pkl
*.bin
*.vec
*.ftz
